$menuBG: $white;
$menuTextColor: $white;
$menuHeight: 25px;
$menuHoverBorderColor: $secondary-color;
$colorLinkSubMenu: "#666";

.menuheader {
    background-color: #fff;
    min-height: $menuHeight;
    width: 100%;

    /*Sub Classes*/
    .ui.menu {
        background: transparent;
        background-color: transparent;
        border: 0px;
        box-shadow: none;
        display: flex;
        font-weight: 400;
        min-height: 2.85714286em;
        flex-wrap: wrap;
        margin:0;

        li {
            &:hover,
            &.active,
            &:focus {
                box-shadow: none;
            }

            > .item {
                > span  {
                    @media screen and (min-width:$mobile-bp) {
                        text-transform: uppercase;
                    }
                }
            }
            
            @media screen and (min-width:$mobile-bp) {
                &:hover {
                    > .item {
                        > span {
                            background-color: #D7B55C;
                        }
                    }
                }
            }

            > .item {
                word-wrap: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: uppercase;
                margin:0;
                font-size: 14px;
                line-height: $menuHeight; 
                padding: 0 5px;
                
                > .icon.dropdown {
                    line-height: 18px;
                }
                > .icon.content {
                    font-size: 26px;
                    line-height: 1;
                    margin-right: 15px;
                }
                .menu {
                    border-radius: 0px !important;
                    margin-top: 0px !important;
                    z-index: 10;
                    .item {
                        line-height: 18px;
                        &:hover,
                        &.active,
                        &:focus {
                            box-shadow: none !important;
                        }
                    }
                    .menu {
                        box-shadow: none;
                    }
                    
                }
            }
        }
        .header {
            a {
                color:$colorLinkSubMenu;
                font-size:14px;
                font-weight: 300;
            }
        }
    }
    .ui.menu .item {
        color: #444;
        line-height: $menuHeight;
        display: flex;
        flex-direction: column;
        transition: all 300ms;
        padding: 0;

        @media screen and (max-width:$mobile-bp) {
            flex-direction: row;
        }

        > span {
            padding: 0 10px;
            margin-top: 5px;
        }

        > img {
            display: none;
        }

        &:hover {
            color: initial!important;
            background-color: transparent!important;
        }
        
        &:before {
            content: '';
            width: 30px;
            height: 30px;
            display:inline-block;
            position: static;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            background-size: 100%;
        }
        
        &[title="MALAS"],
        &[title="Malas"]{
            &:before {
                background-image:url('/assets/image/icones/ico_malas.svg');
            }
        }
        
        &[title="Mochilas"],
        &[title="MOCHILAS"]{
            &:before {
                background-image:url('/assets/image/icones/ico_school.svg');
            }
        }
        
        &[title="BOLSAS"],
        &[title="Bolsas"]{
            &:before {
                background-image:url('/assets/image/icones/ico_bag.svg');
            }
        }
        
        &[title="Acessórios"],
        &[title="ACESSORIOS"],
        &[title="Acessorios"]{
            &:before {
                background-image:url('/assets/image/icones/ico_padlock.svg');
            }
        }
        
        &[title="PASTAS"],
        &[title="Pastas"]{
            &:before {
                background-image:url('/assets/image/icones/ico_pastas.svg');
            }
        }
        
        &[title="CARTEIRAS"],
        &[title="Carteiras"]{
            &:before {
                background-image:url('/assets/image/icones/ico_carteira.svg');
            }
        }
        
        &[title="INFANTIL"],
        &[title="Infantil"]{
            &:before {
                background-image:url('/assets/image/icones/ico_infantil.svg');
            }
        }
        
        &[title="Teen"],
        &[title="TEEN"]{
            &:before {
                background-image:url('/assets/image/icones/ico_teen.svg');
            }
        }
        
        &[title="SALE"],
        &[title="Sale"]{
            &:before {
                background-image:url('/assets/image/icones/ico_sale.svg');
            }
        }    
    }

    .ui.menu .item:hover,
    .ui.menu .item.active {
        box-shadow: none;
        color: $menuTextColor;
    }
    .sub-megamenu {
        .ui.link.list {
            .item {
                color: rgba(0, 0, 0, 0.7);
                margin: 0.5em 0px;
                padding-left: 10px;
            }
        }
    }
    .ui.menu > .item:first-child,
    .ui.menu > .item:last-child {
        border-radius: 0px;
    }
    .ui.list {
        
        h4 {
            font-weight: normal;
        }
        .item {
            color: rgba(0, 0, 0, .7);
            padding-left: 10px !important;
            &:hover,
            &.active,
            &:focus {
                color: rgba(0, 0, 0, .9);
                box-shadow: inset 5px 0 0 $menuHoverBorderColor;
                transition: opacity 0.3s ease-in-out;
            }
        }
    }
}
/* Mega Menu Start */
@import "wsmenu/style";
/* MegaMenu End */