/* Breadbrumbs */
.breadcrumbs {
	h1 {
		margin: 0;
		font-size: 1.5em;
	}
}

.ui.breadcrumb {
	text-transform: uppercase;
	color:$black;
	font-size:12px;
	padding: 0;
	a {
		color:#666666;
	}

	.angle {
		margin: 0 10px;
		font-style: normal;
	}
	
	li {
		display: inline-block;
	}
}