.ui {

  &.filterListEventsProducts {
    .prompt {
      border-radius: 0px !important;
    }
  }

  &.search {

    > .results {

      &.results-clone {

        &:not(.closed) {
          display: block !important;
          visibility: visible !important;
          animation: none !important;
        }

        &.hidden {
          border: 0px !important;
        }
      }

      @media screen and (max-width: $tablet-bp-max) and (min-width: $tablet-bp-min) {
        left: 50%;
        margin-left: -19.75em;
      }

      @media screen and (max-width: $mobile-bp) {
        top: 35px !important;
        width: 100% !important;
      }


      .result {
        .imagem + .content {
          margin: 0em 0em 0em 1em;
        }

        .imagem,
        .contents {
          display: flex;
          align-items: center;
        }

        .imagem {
          float: left;
          overflow: hidden;
          background: none;
          max-width: 6rem;
          border-radius: 0;

          @media screen and (max-width: $mobile-bp) {
            max-width: 17%;
          }

          img {
            display: block;
            max-width: 6rem;

            @media screen and (max-width: $mobile-bp) {
              max-width: 100%;
            }
          }
        }

        .title {
          margin: -0.14285714em 0em 0em;
          font-family: $font-family;
          font-weight: bold;
          font-size: 1em;
          color: rgba(0, 0, 0, 0.85);
        }
      }
    }
  }

  &.category {

    &.search {

      .results {
        width: 39.5em !important;
        z-index: 9;
      }
    }
  }
}
