.card.produto {
    box-shadow: none !important;
    
    .content {
        position: relative;
        z-index: 4;
        border-top: 0px !important;
        
        .info {
            background-color: white;
            height: auto;
            position: relative;
            text-align: center;
            transition-duration: 0.3s;
            z-index: 4;
            
            .dados {
                padding: 10px 0;
                
                a:focus {
                    text-decoration: underline;
                }
                
                h3 {
                    font-weight: normal;
                    color: $black;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                
                .precoBase {
                    color: #666666;
                    font-size: 14px;
                    
                    i {
                        text-decoration: line-through;
                    }
                }
                
                .preco {
                    color: $primary-color;
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 900;
                    
                    &:after {
                        content: '\A';
                        white-space: pre;
                    }
                }
                
                .parcelamento {
                    color: #666666;
                    font-size: 14px;
                }
            }
            
            .botoes {
                border-top: 0 !important;
                bottom: -40px;
                left: 0;
                opacity: 0;
                position: absolute;
                transition-duration: 0.3s;
                width: 100%;
                
                @media screen and (max-width: $tablet-bp-max) {
                    bottom: initial;
                    left: initial;
                    opacity: 1;
                    position: relative;
                }
                
                .btnComprar {
                    @media screen and (min-width: $desktop-bp-min) {
                        display: none;
                    }
                }
                
                
                
                
                .btnDetalhes {
                    background: #eee;
                    color: #666;
                    
                    &:hover,
                    &:focus,
                    &:checked,
                    &:active {
                        background: #eee;
                        color: #666;
                        opacity: .9;
                    }
                }
                
                button.ui.circular {
                    @media screen and (max-width: $mobile-bp) {
                        padding: .58571429em !important;
                        margin-top: 3px;
                    }
                }
                
                button.ui.basic.primary,
                button.ui.basic.secondary,
                button.ui.basic.action {
                    @media screen and (max-width: $mobile-bp) {
                        padding: .78571429em 0.8em !important;
                    }
                }
            }
            
            .sku-options {
                color: #ffffff;
                display: block;
                opacity: 0;
                padding: 10px;
                position: absolute;
                text-align: left;
                bottom: 100%;
                transition-duration: .3s;
                width: 100%;
                max-height: 230px;
                z-index: 10 !important;
                
                &.mask {
                    background: rgba(255, 255, 255, .5);
                }
                
                .produto-esgotado-label {
                    color: $grey !important;
                    
                    &:not(.hideme) {
                        display: block;
                        font-weight: 600;
                        margin-bottom: .5em;
                    }
                }
            }
        }
    }
    
    &:hover,
    &:focus {
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
        
        .content {
            
            .ui.slide.masked.reveal.image > .visible.content {
                transform: translateX(-100%) !important;
            }
            
            .ui.slide.masked.reveal.image > .hidden.content {
                transform: translateX(0) !important;
            }
        }
        
        .info {
            
            @media screen and (min-width: $desktop-bp-min) {
                transform: translateY(0px);
            }
            
            
            .botoes {
                opacity: 1;
            }
            
            .sku-options {
                opacity: 1;
            }
        }
    }
    
    .wishlist {
        
        .bcg-heart {
            background: #9e9e9e;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            z-index: 99;
            right: 25px;
            padding: 0 5px 5px;
            cursor: pointer;
        }
        
        i.icon.heart {
            font-size: 16px;
            margin: 0;
            padding: 0;
            line-height: initial;
        }
    }
}

.ui.top.right.attached.label.massive.wishlist {
    background: transparent;
}

.sku-options {
    
    .dropdown {
        
        .scrolling.menu {
            max-height: 7.8rem !important;
        }
    }
}

.ui.three.doubling.cards > .card,
.ui.four.doubling.cards > .card,
.ui.five.doubling.cards > .card,
.ui.six.doubling.cards > .card {
    @media screen and (max-width: $mobile-bp) {
        width: calc( 100% - 2em);
        margin-left: 1em;
        margin-right: 1em;
    }
}
