h1.nomeProduto {
    font-size: 30px;
    font-weight: normal;
    color: $black;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dcdcdc;

    @media screen and (max-width:$mobile-bp) {
        margin-bottom: 0;
    }
}

h6.codProduto {
    color: #888888;
    margin: 0px !important;
}

.btn-comprar {
    width: 100%;
    height: 65px;
    padding: 0 !important;

    .content {
        padding: 0;
        margin: 0!important;

        &.visible {
            height: 100%;
            line-height: 65px;
            font-size: 30px;
        }

        &.hidden {
            .icon {
                font-size: 2em;
            }
        }
    }
}

#avaliacoes{
    border-top: 1px solid #D2D2D2 !important;
    margin-top: 38px;
    
    h2{
        font-weight: normal;
        margin-top: 16px;
        font-size: 30px;
        line-height: 38px;
    }
}

.infoProduto {
    #dica_compra_partial {
        @media screen and (max-width: $mobile-bp) {
            margin: 0 auto;
            display: table;
        }
    }

    .marcaProduto {
        color: #666;
        font-size: 14px;
    }

    .avaliacoes {
        color: #666;
        display: flex;
        align-items: center;

        .icon {
            font-size: 16px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .blocoInfo {
        @media screen and (max-width: $mobile-bp) {
            padding: 0;
        }

        .linkRating {
            color: #666666;
            font-size: 12px;
        }

        .blocoValores {
            border-bottom: 5px solid #ddd;

            .row {
                padding: 0.25rem 0 !important;
            }

            .blocoQtd {
                .box {
                    width: 148px;

                    @media screen and (min-width:$mobile-bp) {
                        float: right;
                        text-align: left;
                    }

                    @media screen and (max-width:$mobile-bp) {
                        text-align:left;
                    }

                    .title {
                        margin-bottom:4px;
                    }

                    .qtd {
                        width: 148px;
                        display: flex;
                        flex-wrap: wrap;
                        height: 45px;
                        background-color: #F8F8F8;
                        border: 1px solid #ECECEC;
    
                        input[type="number"] {
                            width: 60%;
                            height: 100%;
                            border: none;
                            background-color: #F8F8F8;
                            pointer-events: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            -o-appearance: none;
                            appearance: none;
                        }
    
                        .qtdplus,
                        .qtdminus {
                            width: 20%;
                            height: 100%;
                            border: none;
                            background-color: #F8F8F8;
                            cursor: pointer;
                        }
                    }
                }
            }

            .box-prices {
                border-top: 1px solid #dcdcdc;
                border-bottom: 1px solid #dcdcdc;
                
                @media screen and (min-width:$mobile-bp) {
                    margin: 14px;
                    padding: 20px 0 !important;
                }
            }

            .blocoPreco {
                .precoAntigo {
                    clear: both;
                    color: #999;
                    font-size: 12px;
                    line-height: 18px;
                    padding-bottom: 2px;

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }
                }

                .preco {
                    clear: both;
                    color: $black;
                    font-size: 40px;
                    font-weight: bold;
                    line-height: 25px;

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }
                }

                .disponibilidade {
                    margin: 5px 0 10px 0;
                    color: #666666;
                    font-size: 12px;

                    @media screen and (max-width: $mobile-bp) {
                        text-align: center !important;
                    }
                }

                .infoPreco {
                    clear: both;
                    color: #000;
                    font-size: 16px;
                    line-height: 19px;

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }

                    #max-p {
                        font-weight: bold;

                        span {
                            font-weight: normal;
                        }
                    }

                    #max-value {
                        font-weight: bold;
                    }

                    .descontoBoleto {
                        color: $ascent-1-color;
                        font-weight: 700;
                    }
                }
            }

            .btnComprar {
                margin: 20px 0 10px !important;

                @media screen and (max-width: $mobile-bp) {
                    text-align: center !important;
                }

                .btn-comprar-oneclick {
                    margin-top: 20px;
                    font-size: .92857143rem;
                    font-weight: normal;
                }
            }
        }
    }
}

#calculo-parcelamento {
    #parcelamento_b2b {
        > .title {
            display: flex;
            justify-content: space-between;
            
            span {
                font-size: 16px;
                
                strong {
                    font-weight: normal;
                }
            }
    
            i {
                transition: all 300ms;

                &:before {
                    font-size:22px;
                }
            }
    
            &.active {
                i {
                    transform:rotate(180deg);
                }
            }
        }
    }
}

#scroll {
    border-color: white;

    @media screen and (max-width:$mobile-bp) {
        padding: 0 14px;
    }

    .item {
        font-size: 24px;
        padding: 14px;
        margin-right: 30px;
        border-bottom: none;
        padding-right: 30px;
        
        @media screen and (min-width:$mobile-bp) {
            border-right: 1px solid #dcdcdc;
        }

        @media screen and (max-width:$mobile-bp) {
            border:none !important;
            box-shadow:none !important;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
            display:flex;
            justify-content: space-between;

            i {
                margin-right: 0;
                transition: all 300ms;
            }

            &.active {
                i {
                    transform:rotate(180deg);
                }
            }
        }

        &:last-child {
            border-right: 0;
        }
    }
}

.product-button {
    position: absolute;
    right: 10px;
    top: 10px;

    a {
        display: block !important;
        margin-bottom: 10px !important;
    }
}

.product-tags {
    bottom: 10px;
    left: 10px;
    position: absolute;
    width: 70%;

    .tag {
        margin-left: 1.5em !important;
    }
}

.border.bottom.grey:not(.inverted) {
    border-bottom: 5px solid #DDDDDD;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0 !important;
    border-top: 1px solid #d4d4d5 !important;
}

.ui.segment.grey.formas-pagamento {
    border-bottom: 5px solid #DDDDDD;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0 !important;
    border-top: 1px solid #d4d4d5 !important;

    .accordion {
        .title {
            color: #666666;
            text-transform: uppercase;
            font-size: 12px;
        }

        .ui.list {
            padding-left: 2.2em;
        }
    }
}

.ui.grid.segment {
    padding: 10px 0px !important;
}

.ui.segment {

    &.yellow,
    &.grey {

        .ui.form .fields {
            margin: 0px !important;
        }
    }
}

.ui.ribbon {
    z-index: 5;
}

.produtos.compre.junto {
    >.item {
        .extra {
            width: auto !important;
        }
    }
}

.variacao {
    &.cor {
        height: 35px;
        width: 35px;
    }

    &.selecionado {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, .35) !important;
    }
}

.product {
    &.information {
        .marcaProduto {
            margin: 0px !important;
        }

        &.row {
            padding-bottom: .1rem !important;
        }

        h1 {
            margin-top: 10px;
        }

        .column {
            padding-bottom: .3rem !important;
            padding-top: 0.3rem !important;
        }
    }
}

.produto {
    &.detalhes {
        &.row {
            padding-top: 0px !important;
        }
    }

    #exibePartial {
        .easyzoom {
            border: 1px solid #dcdcdc;
        }

        .ui.image,
        .easyzoom,
        #imagem-padrao {
            width: 100%;
        }
    }
}

#pagamento-calculado {
    margin-top: 10px;
    margin-bottom: 20px;

    .formas-pagamento {
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 2px;
        
        .ui.fluid.accordion {
            > .title {
                padding-right:10px;

                &:after {
                    content: '';
                    width: 8px;
                    height: 8px;
                    display: inline-block;
                    border-right: 1px solid black;
                    border-bottom: 1px solid black;
                    transform: rotate(45deg);
                    margin: 4px;
                    transition: all 300ms;
                }

                &.active {
                    padding-bottom: 10px;
                    border-bottom: 1px solid #dcdcdc !important;

                    &:after {
                        transform: rotate(225deg);
                    }
                }
            }
        }
    }
}

.fb-share-button {
    display: block;
    float: left;
    margin-right: 3px;
}

.menu.tabular {
    .item {
        color: #999 !important;
        text-transform: uppercase;

        &.active {
            color: $black !important;
        }
    }
}

.product-b2b {
    .preco {
        font-size: 20px !important;
        line-height: 20px !important;
    }

    .precoAntigo i {
        text-decoration: line-through;
    }

    .ui.form .field>.button {
        margin-bottom: 0px;
    }
}

#buy-together {
    .row {
        &.horizontal {
            &.divided {
                background: #fff;
            }
        }
    }

    a {
        font-weight: bold;
        font-size: 14px;
        color: #666666;
    }

    .ui.attached.segment {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .ui.table {
        border: 1px solid #eee;
        color: #666666;
        border-radius: 0 !important;

        strong {
            color: #000;
        }

        thead th {
            background-color: #999999;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            border-radius: 0 !important;
        }
    }

    #price-buy-together,
    h4 {
        color: $black;
        font-size: 20px;
        line-height: 25px;
    }

    #btn_comprejunto {
        i {
            opacity: 1 !important;
        }
    }
}

#AlsoProducts {
    margin-top: 60px;

    >.ui {
        &.container {
            @media screen and (max-width: $mobile-bp) {
                margin: 25px auto 0 auto !important;
            }
        }
    }
}

#RelatedProducts {
    >.ui {
        &.container {
            @media screen and (max-width: $mobile-bp) {
                margin: 25px auto 0 auto !important;
            }
        }
    }
}

.ui.items:not(.unstackable)>.item>.image>a>img {
    @media screen and (max-width: $mobile-bp) {
        max-width: 100% !important;
        width: auto !important;
        max-height: 250px !important;
    }
}

.ui.list>div>.item {
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: 0.21428571em 0em;
    line-height: 1.14285714em;
}

.kit-product {
    .blocoKit {
        h5 {
            font-size: 16px;
            color: #262626;
        }

        .infoKit {
            text-align: right;

            .nameProduct {
                font-size: 16px;
                color: #262626;
                font-weight: 700;
            }

            .valores {
                color: #767676;
                margin: 5px 0 10px;

                .valorDe {
                    font-size: 11px;
                    text-decoration: line-through;
                }

                .valorPor {
                    color: #2980b9;
                    font-size: 20px;
                }

                .kit {
                    font-size: 11px;
                }
            }

            .variacao {
                color: #767676;
                font-size: 14px;
            }

            .quantidade {
                color: #767676;
                font-size: 14px;
            }
        }
    }
}

.infoPrecoKit {
    color: #999;
    font-size: 14px;
}

.wishlistDetails {
    margin-top: 20px;

    i {
        font-size: 22px;
        color: #666 !important;
    }

    span {
        color: #666 !important;
    }
}

.simulador-frete {
    box-shadow: none !important;
    border-radius: 0 !important;

    .box {
        display: flex;
        flex-wrap: wrap;
        padding: 0 14px;

        .title {
            display: flex;
            align-items: center;

            span {
                font-weight: normal;
                font-size: 20px;
                text-transform: uppercase;
            }

            svg {
                margin-right: 7px;
            }
        }

        #simular-frete-cep {
            width: 70%;
            height: 45px;
            margin-right: 2%;
            border: 1px solid #dcdcdc;
            text-indent: 10px;
        }

        #simular-frete-submit {
            width: 28%;
            height: 45px;
            font-weight: bold;
            font-size: 20px;
            border-color: black;
            cursor: pointer;
            background-color: #000;
            color: white;
            text-align: center;
            line-height: 45px;
        }

        a.n-sei-cep {
            display: block;
            padding-top: 5px;
            padding-left: 4px;
            text-decoration: underline;
            font-size: 16px;
        }
    }

    &.ui.attached.segment {
        padding: 0.5em 1em 1.5em;
    }

    span {
        color: #000;
        font-weight: 700;
    }

    table {
        display: none;
        &.active{
            display: table;
        }
        thead {
            tr {
                th {
                    padding: 5px 5px 15px !important;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 15px 5px !important;
                    font-weight: normal !important;
                }
            }
        }
    }
}