$p-icon-search-mobile: 10px;

topbar,
headlogo {
    width: 100%;
}

._header {
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 20px;
    background: rgb(255,255,255);

    @media screen and (max-width:$mobile-bp) {
        position: static!important;
        border-bottom: 0!important;
    }

    .row_1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;

        @media screen and (max-width:$mobile-bp) {
            width: 100%;
        }

        .column_1 {
            width: 12%;

            @media screen and (min-width:$mobile-bp) {
                a {
                    display: block;
                    text-align: left;
                }
            }

            @media screen and (max-width:$mobile-bp) {
                padding-top:10px;
                width: 50%;
                order: 2;
            }
        }

        .column_2 {
            width: 63%;

            .menu_apoio {
                display: none;
            }

            @media screen and (max-width:$mobile-bp) {
                width: 25%;
                order:1;

                .menu_apoio {
                    display: block;
                    padding: 0 15px;

                    .btn_account {
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        display: block;
                        color: white;
                        border-radius: 3px;
                        text-transform: uppercase;
                        background-color: #D7B55C;
                    }

                    .btn_venda_assistida {
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        display: block;
                        background-color: #dcdcdc;
                        text-transform: uppercase;
                        margin-top: 7px;
                    }

                    .btn_call {
                        display: flex;
                        align-items: center;
                        text-align: left;
                        margin-top: 20px;
                        margin-bottom: 10px;

                        svg {
                            margin-right: 7px;
                        }
                    }

                    ul {
                        padding: 0;
                        list-style: none;
                        display: flex;

                        li {
                            margin-right: 7px;
                        }
                    }
                }
            }
        }

        .column_3 {
            width: 25%;
            display: flex;
            align-items: center;

            @media screen and (max-width:$mobile-bp) {
                justify-content: center;
                order:3;
            }

            .search {
                width: 80%;
                margin-right: 5%;

                .results {
                    position: absolute;
                    left: initial;
                    right: 0;
                }
            }
        }
    }
    
    &.fixed {
        box-shadow: rgba(0,0,0,.3) 0px 0px 10px 0px;
        
        @media screen and (max-width: $mobile-bp) {
            box-shadow: none;
            border-bottom: 1px solid #eee;
        }
        
        .blocoBusca {
            top: 90px;
        }
    }
    
    i.circular.icon {
        box-shadow: none;
    }
    
    .ui.floating.label {
        top: 0.8em;
        left: 105%;
    }
    
    .searchcolumn {
        .ui.icon.input > i.icon {
            opacity: initial;
        }
        
        .search{
            .prompt {
                border: none!important;
                background-color: #F6F6F6;
                border-radius: 20px !important;
                
                i.icon {
                    width: 30px;
                    height: 20px;
                    margin: 7px;
                    border-left: 1px solid #dcdcdc;
                    padding-left: 15px;
                }
            }
        }
        
        @media screen and (max-width: $mobile-bp) {
            .search {
                display: none !important;
            }
        }
    }
    
    .searchMobile {
        display: inline-block;
        
        @media screen and (min-width: 375px) {
            float: right;
        }
        
        margin-right: 1em;
        padding-right: 1em;
        border-right: 1px solid #eee;
        
        > .button {
            background: transparent;
            margin: 0;
        }
        
        .blocoBusca {
            display: none;
            background: #fff;
            border-radius: .5em;
            border: 1px solid #DDD;
            
            &.active {
                display: block !important;
                position: fixed;
                right: 10px;
                top: 100px;
                z-index: 10;
                width: calc(100% - 20px);
                height: 40px;
            }
            
            &.Container {
                display: flex !important;
                align-items: center;
                
                .prompt {
                    border-radius: 0px !important;
                    max-width: calc(100% - 80px);
                }
                
                .icon {
                    display: table;
                    padding: #{$p-icon-search-mobile / 2} $p-icon-search-mobile;
                    font-size: 1.5em;
                    margin-right: 0px !important;
                    
                    &:last-child {
                        border-left: 1px solid #DDD;
                    }
                    
                    &.disabled {
                        color: #999;
                    }
                }
            }
        }
    }

    #open_busca {
        @media screen and (max-width:$mobile-bp) {
            margin-right:15px;
        }
    }
    
    #cartButton {
        position: relative;
        margin: 0;
        display: inline-block;
        cursor: pointer;
        
        #total_itens_card{
            width: 15px;
            height: 15px;
            line-height: 14px;
            position: absolute;
            top: -4px;
            right: -7px;
            background-color:#D7B55C;
            color: #000;
            border-radius: 50%;
            text-align: center;
            font-size: 12px;
            font-weight: 400;
        }
        
        .ui.basic.button {
            > span {
                @media screen and (max-width: $mobile-bp) {
                    display: none;
                }
            }
        }
    }
}

.wishlist {
    text-align: right !important;
    
    @media screen and (max-width: $desktop-bp-min) {
        text-align: center !important;
    }
    
    .absolute {
        position: absolute;
    }
    
    #wishListCount {
        position: relative;
        bottom: 6px;
        left: 16px;
        min-width: 18px !important;
        min-height: 18px !important;
        padding: 0 !important;
        line-height: 16px !important;
        font-size: 10px !important;
        background: #fff !important;
        border: 1px solid #2c3e50;
    }
}

#wishListCount {
    position: relative;
    bottom: 6px;
    left: 16px;
    min-width: 18px !important;
    min-height: 18px !important;
    padding: 0 !important;
    line-height: 16px !important;
    font-size: 10px !important;
    background: #fff !important;
    border: 1px solid #2c3e50;
}

#busca {
    position: fixed;
    top: 78px;
    width: 100% !important;
    background-color: white;
    opacity: 0;
    display: none;

    @media screen and (max-width:$mobile-bp) {
        position: absolute;
    }

    &.active {
        opacity: 1;
        display: block;
        z-index: 12;
    }

    &.strong {
        opacity: 1;
        visibility: visible;
        z-index: 12;
    }

    .searchcolumn {
        padding-top:10px;
        
        @media screen and (max-width:$mobile-bp) {
            padding: 10px 0;
        }

        input[type="text"] {
            width: 95% !important;
            height: 40px;
            border: none;
            text-indent: 15px;
            background-color: #F6F6F6;
            border-radius:20px;

            @media screen and (max-width:$mobile-bp) {
                padding: 10px 0;
            }
        }

        svg {
            position: absolute;
            right: 15px;
            top: 10px;
            width: 30px;
            height: 18px;
            padding-left: 10px;
            display: block;
            border-left: 1px solid #dcdcdc;
        }
    }
}
