.topbar {
  height: 30px;
  padding-top: 4px;
  background-color: #F6F6F6;

  .column {
    padding: 0!important;
  }

  .list {
    line-height: initial;
    float:right;

    >.item {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      line-height: initial !important;

      svg {
        margin-right: 0.25rem;
      }

      i {
        color: #7D7D7D;
        font-size: 18px;
      }

      a {
        display:flex;
        align-items: center;
        color: #666666;
        font-size: 13px;
      }
    }

    span.text,
    .menu {
      @media screen and (max-width: $mobile-bp) {
        display: none;
      }
    }
  }

  .ui.pointing.dropdown {
    >.menu::after {
      background: #1b1c1d;
    }
  }

  socialbar {
    a {
      width: 21px;
      height: 21px;
      margin-right: 7px;
      display: inline-block;

      &[title="Facebook"],
      &[title="FACEBOOK"],
      &[title="facebook "] {
        background-image: url(/assets/image/icones/ico-facebook.png);
      }

      &[title="Instagram"],
      &[title="INSTAGRAM"],
      &[title="instagram "] {
        background-image: url(/assets/image/icones/ico-instagram.png);
      }
    }

    .fa {
      margin-right: 5px;
    }

    i {
      font-size: 1.2em;
      line-height: 0.95em;
      opacity: 0;

      &.facebook.icon {
        color: #475993 !important;
      }

      &.instagram.icon {
        color: #DE943F !important;
      }

      &.twitter.icon {
        color: #2795e9 !important;
      }

      &.youtube.icon {
        color: #dd4b39 !important;
      }

      &.google.icon {
        color: #dd4b39 !important;
      }
    }
  }
}