//Font
$body-font-size: 14px;
$import-google-fonts: false;
$font-url: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i&display=swap&subset=latin-ext';
$font-name: 'Source Sans Pro';
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif;