﻿@model DomainProduct.Entities.ProductDetail
@{
    DomainProduct.Entities.Sku SKUPadrao = new DomainProduct.Entities.Sku();
    if (TempData["SKUPadrao"] != null)
    {
        SKUPadrao = (DomainProduct.Entities.Sku)TempData["SKUPadrao"];
    }
    string ListaImagens = string.Empty;
    string ListaSKU = string.Empty;
    string AvailableReferences = string.Empty;
    string variacaoSelecionada = string.Empty;
    string skuSelecionado = string.Empty;

    if (Model.ProductImages != null)
    {
        ListaImagens = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ProductImages);
    }

    if (Model.SKUs != null)
    {
        ListaSKU = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.SKUs);
    }

    if (Model.AvailableReferences != null)
    {
        AvailableReferences = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.AvailableReferences);
    }

    if (Model.AvailableReferences != null && Model.AvailableReferences.Count > 0)
    {
        foreach (var referencias in Model.AvailableReferences.OrderBy(o => o.OrdinationOfReferences).ToList())
        {
            foreach (var variacoes in referencias.Variations)
            {
                if (SKUPadrao.Variations.FindAll(r => r.IdVariation == variacoes.IdVariation).Count > 0)
                {
                    var referencia_selecionada = SKUPadrao.Variations.FindAll(r => r.IdVariation == variacoes.IdVariation);
                    variacaoSelecionada += referencias.IdReference.ToString() + '-' + referencia_selecionada.FirstOrDefault().IdVariation.ToString() + ',';
                }
            }
        }

        string character = variacaoSelecionada.Substring(variacaoSelecionada.Length - 1);
        if (character == ",")
        {
            variacaoSelecionada = variacaoSelecionada.Remove(variacaoSelecionada.Length - 1);
        }
    }


    if (SKUPadrao.InstallmentMax == null)
    {
        SKUPadrao.InstallmentMax = new DomainProduct.Entities.InstallmentMax();
        SKUPadrao.InstallmentMax.MaxNumber = 0;
        SKUPadrao.InstallmentMax.Value = 0;
    }

    List<DomainProduct.Entities.ProductRating> lista_avaliacoes_completa = new List<DomainProduct.Entities.ProductRating>();
    if (Model.ProductRatings.Count > 5)
    {
        lista_avaliacoes_completa.AddRange(Model.ProductRatings);
        lista_avaliacoes_completa.RemoveRange(0, 5);
    }

    //GRADE ABERTA B2C
    var hasOpenSku = ViewBag.HasOpenSku != null ? ViewBag.HasOpenSku : false;

    //OneClickMaxiPago
    var useOneClickMaxiPago = ViewBag.UseOneClickMaxiPago != null ? ViewBag.UseOneClickMaxiPago : false;

    List<DomainProduct.Entities.ProductImage> productFirstReferenceImages = new List<DomainProduct.Entities.ProductImage>();
    List<DomainProduct.Entities.ProductImage> productImages = new List<DomainProduct.Entities.ProductImage>();
    var classSkus = "nine";

    if (hasOpenSku)
    {
        classSkus = Model.SKUs != null ? "seven" : "nine";
        productImages = Model.ProductImages;
    }
    else
    {
        if (Model.AvailableReferences != null)
        {
            foreach (var item in Model.ProductImages)
            {
                int flag = 0;
                if (item.Variacao_ids != null)
                {
                    for (int i = 0; i < item.Variacao_ids.Length; i++)
                    {
                        for (int j = 0; j < SKUPadrao.Variations.Count(); j++)
                        {
                            if (item.Variacao_ids[0] == SKUPadrao.Variations[j].IdVariation)
                            {
                                productFirstReferenceImages.Add(item);
                            }
                            if (item.Variacao_ids[i] == SKUPadrao.Variations[j].IdVariation)
                            {
                                flag++;
                            }
                        }
                    }
                }
                if (flag == SKUPadrao.Variations.Count())
                {
                    productImages.Add(item);
                }
            }

            if (productImages.Count == 0)
            {
                productImages = productFirstReferenceImages;
            }
            if (productImages.Count == 0)
            {
                productImages = Model.ProductImages;
            }
            if (productImages.Count == 0)
            {
                Model.ProductImages.RemoveAll(item => item.Variacao_ids == null);
            }
        }
        else
        {
            productImages = Model.ProductImages;
        }
    }
}

<script>
    var total_avaliacoes_produto = @(Model.ProductRatings != null ? Model.ProductRatings.Count : 0);
    var lista_avaliacao_produto = @(Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(lista_avaliacoes_completa)));
</script>
@{
    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumb.cshtml";
}
@section remarketing{
    <!-- Google Remarketing -->
    @Html.Action("GoogleRemarketing", "Common", new { origin = ViewContext.RouteData.Values["controller"] })
    <!-- End Google Remarketing -->
}

@section CustomSeo {
    @{
        if (!String.IsNullOrEmpty(Model.MetaDescription))
        {
            <meta name="Description" content="@Model.MetaDescription">
        }

        if (!String.IsNullOrEmpty(Model.MetaKeyWords))
        {
            <meta name="Keywords" content="@Model.MetaKeyWords">
        }
    }
}

@section breadcrumbs {
    <div class="ui container">
        <div class="column">
            <div class="ui breadcrumb margin top small">
                <a class="section" href=""></a>

                <!--COMEÇO FOREACH CATEGORIAS-->
                @if (Model.Categories != null)
                {
                    <a class="section" href="/">Home</a>
                    var _categoriaDefault = Model.Categories.Find(c => c.Default == true);
                    if (_categoriaDefault != null)
                    {
                        var _urlFriendly = "";
                        var _level = _categoriaDefault.Level.Substring(0, _categoriaDefault.Level.Length - 2);
                        List<DomainProduct.Entities.Category> _lstAuxCategories = new List<DomainProduct.Entities.Category>();
                        while (_level.Length >= 2)
                        {
                            var _auxCategory = Model.Categories.Find(c => c.Level == _level);
                            if (_auxCategory != null)
                            {
                                _lstAuxCategories.Add(_auxCategory);
                            }
                            _level = _level.Substring(0, _level.Length - 2);
                        }
                        _lstAuxCategories.Add(_categoriaDefault);

                        foreach (var _auxCategory in _lstAuxCategories.OrderBy(c => c.Level.Length).ToList())
                        {
                            _urlFriendly = string.Concat("/categoria", _urlFriendly.Replace("/categoria", ""), _auxCategory.UrlFriendly.Replace("/categoria", ""));
                            <i class="angle">></i>
                            <a class="section" href="@_urlFriendly">@_auxCategory.Name</a>
                        }
                    }
                }
                <!-- FIM FOREACH CATEGORIAS-->
            </div>
        </div>
    </div>
}

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10&appId=656083874584141";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- Posicione esta tag no cabeçalho ou imediatamente antes da tag de fechamento do corpo. -->
<script src="https://apis.google.com/js/platform.js" async defer>
    { lang: 'pt-BR' }
</script>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<!-- COMEÇO - Váriaveis Produto Principal-->
<input type="hidden" id="produto-id" name="produto-id" value="@Model.IdProduct" />
<input type="hidden" id="produto-stock" name="produto-stock" value="@Model.Stock" />
<input type="hidden" id="produto-sku" name="produto-sku" value="@SKUPadrao.IdSku" />
<input type="hidden" id="produto-codigo" name="produto-codigo" value="@Model.Code" />
<input type="hidden" id="lista-imagens-slide" name="lista-imagens-slide" value="@ListaImagens" />
<input type="hidden" id="principal-total-variacoes" name="principal-total-variacoes" value="@(Model.AvailableReferences != null ? Model.AvailableReferences.Count() : 0) " />
<input type="hidden" id="principal-lista-sku" name="principal-lista-sku" value="@ListaSKU" />
<input type="hidden" id="principal-referencias-selecionadas" name="principal-referencias-selecionadas" value="@variacaoSelecionada" />
<input type="hidden" id="variacoesSelecionadas" value="" />
<input type="hidden" id="has-open-sku" value="@((hasOpenSku == true) ? "true" : "false")" />
<input type="hidden" id="b2b" value="false" />


<!-- FIM - Váriaveis Produto Principal-->
<!-- COMEÇO - Váriaveis Produto Unitário-->
<input type="hidden" value="@Model.Price" id="preco-unidade" name="preco-unidade" />
<input type="hidden" value="@Model.PricePromotion" id="preco-promocao-unidade" name="preco-promocao-unidade" />
@if (Model.InstallmentMax != null)
{
    <input type="hidden" value="@Model.InstallmentMax.Value" id="parcela-maxima-unidade" name="parcela-maxima-unidade" />
    <input type="hidden" value="@Model.InstallmentMax.MaxNumber" id="qtd-parcela-maxima-unidade" name="qtd-parcela-maxima-unidade" />
    <input type="hidden" value="@Model.InstallmentMax.Description" id="pagamento-descricao" name="pagamento-descricao" />
}
<input type="hidden" value="@AvailableReferences" id="principal-produto-referecias" name="principal-produto-referecias" />
<input type="hidden" value="@ViewBag.DescontoBoleto" id="desconto_boleto" name="desconto_boleto" />
<!-- FIM - Váriaveis Produto Unitário-->
<div class="ui container" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="description" content="">
    <link itemprop="url" href="" rel="author" />
    <div class="ui grid stackable produto">
        <div class="row detalhes produto">
            <!-- FIM IMAGENS DO PRODUTO PRINCIPAL-->
            <div class="sixteen wide mobile @classSkus wide computer column" id="exibePartial">
                @Html.Partial("~/Views/Product/Details/_Slide.cshtml", productImages.ToList())
            </div>

            <div class="mobile only">
                <!-- COMEÇO AVALIAÇÕES -->
                <div class="ui one column grid mobile only padding top no padding bottom no">
                    <div class="column sixteen wide mobile">
                        <div class="avaliacoes">
                            <div class="ui tiny star rating" data-rating="@Model.Rate.Value.ToString().Replace(",", ".")"></div>
                            @if (Model.ProductRatings != null)
                            {
                                if (Model.ProductRatings.Count() == 1)
                                {
                                    <span>1 avaliação</span>
                                }
                                else
                                {
                                    <span>@Model.ProductRatings.Count() avaliações</span>
                                }
                            }
                            else
                            {
                                <span>0 avaliações</span>
                            }
                        </div>
                    </div>
                </div>
                <!-- FIM - COMEÇO AVALIAÇÕES -->
            </div>

            <div class="mobile only column padding bottom no">
                <h1 itemprop="name" class="nomeProduto" id="produto-nome">@Model.Name</h1>
                @if (Model.Brand != null)
                {
                    <h5 itemprop="productBrand" class="marcaProduto">@Model.Brand.Name</h5>
                }
                else
                {
                    <!-- <h5 itemprop="productBrand" class="marcaProduto"></h5> -->
                }
            </div>
            <!-- COMEÇO IMAGENS DO PRODUTO PRINCIPAL-->
            <!-- COMEÇO INFORMAÇÕES DO PRODUTO-->
            <div class="sixteen wide mobile seven wide computer column infoProduto">
                <div class="ui grid">
                    <div class="mobile-hide row product information padding top no">
                        <div class="column">
                            <div class="ui one column grid stackable">
                                <div class="column">
                                    <div class="avaliacoes">
                                        <div class="ui tiny star rating" data-rating="@Model.Rate.Value.ToString().Replace(",", ".")"></div>
                                        @if (Model.ProductRatings != null)
                                        {
                                            if (Model.ProductRatings.Count() == 1)
                                            {
                                                <span>1 avaliação</span>
                                            }
                                            else
                                            {
                                                <span>@Model.ProductRatings.Count() avaliações</span>
                                            }
                                        }
                                        else
                                        {
                                            <span>0 avaliações</span>
                                        }
                                    </div>
                                </div>
                            </div>

                            <h1 itemprop="name" class="nomeProduto" id="produto-nome">@Model.Name</h1>
                            @if (@Model.Brand != null)
                            {
                                <h5 itemprop="productBrand" class="marcaProduto">@Model.Brand.Name</h5>
                            }
                            else
                            {
                                <h5 itemprop="productBrand" class="marcaProduto"></h5>
                            }
                        </div>
                    </div>
                    <!--COMEÇO DICA DE COMPRA-->
                    <div id="dica_compra_partial">
                        @Html.Action("BuyingTips", "Product", new { productID = @Model.IdProduct, skuID = SKUPadrao != null ? SKUPadrao.IdSku : 0 })
                    </div>
                    <!--FIM DICA DE COMPRA-->
                    <div class="row product-grid padding top no">
                        <div class="column blocoInfo">
                            <div class="ui middle aligned margin bottom medium blocoValores">
                                @if (hasOpenSku && Model.SKUs != null && Session["EventList"] == null)
                                {
                                    //GRADE ABERTA B2C
                                    @Html.Partial("~/Views/Product/Details/_GradeSkuB2B.cshtml", Model, new ViewDataDictionary { { "useOneCLick", useOneClickMaxiPago }, { "isB2B", false }, { "hasOpenSku", hasOpenSku } });
                                }
                                else
                                {
                                    <!--COMEÇO VARIAÇÔES-->
                                    if (!Model.FlagExhausted)
                                    {
                                        <input type="hidden" id="hdnShowProductOutOfStock" value="@(!LojaCorp.Control.Company._Company.ShowProductOutOfStock ? 0 : 1)" />
                                        @Html.Action("Variations", "Product", new { reference = @Model.AvailableReferences, skuPadrao = @SKUPadrao, ListaSku = Model.SKUs })
                                    }
                                    <!--FIM VARIAÇÔES-->

                                    if (Model.IsKit)
                                    {
                                        @Html.Partial("~/Views/Product/Details/_ProductsKit.cshtml", Model.KitProducts)
                                    }

                                    <div class="column">
                                        <div class="ui grid">
                                            <div class="row stackable one column">
                                                <div class="column">
                                                    <div class="ui grid">
                                                        <div class="row stackable two column box-prices">
                                                            <!--COMEÇO GRADE-->
                                                            <div class="column padding-bottom no padding left no text left blocoPreco" itemprop="offers" id="block-price" itemscope="" itemtype="http://schema.org/Offer">
                                                                <div id="variacao-preco">
                                                                    @if (Model.IsKit)
                                                                    {
                                                                        <div class="infoPrecoKit">
                                                                            <span class="display block">Sub-Total: @(string.Format("{0:c}", Model.KitProducts.Sum(m => m.PricePromotion)))</span>
                                                                            <span class="display block">Desconto do Kit: @(string.Format("{0:c}", Model.KitProducts.Sum(m => m.Discount)))</span>
                                                                        </div>
                                                                    }

                                                                    @if (Model.HaveSku)
                                                                    {
                                                                        if (SKUPadrao.PricePromotion != null && SKUPadrao.PricePromotion > 0)
                                                                        {
                                                                            decimal dec = (decimal)@SKUPadrao.PricePromotion;
                                                                            <span class="precoAntigo"><span>de: </span><span id="preco-antigo">@SKUPadrao.Price.ToString("C")</span><span> por</span></span>
                                                                            <span itemprop="price" class="preco" id="preco" data-preco-inicial="@dec">@dec.ToString("C")</span>
                                                                            <span class="infoPreco">
                                                                                <span>Em</span>
                                                                                <span id="max-p">@SKUPadrao.InstallmentMax.MaxNumber<span>x de</span></span>
                                                                                <span id="max-value">@SKUPadrao.InstallmentMax.Value.ToString("C")</span>
                                                                                <span id="description">@string.Format("({0})", @SKUPadrao.InstallmentMax.Description)</span>
                                                                                @if (ViewBag.DescontoBoleto > 0)
                                                                                {
                                                                                    var valor_final = (dec - ((dec / 100) * ViewBag.DescontoBoleto));

                                                                                    <br />
                                                                                    <span>ou</span>
                                                                                    <span><span id="preco_boleto">@string.Format("R${0:0.00}", valor_final)</span>@string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span>
                                                                                }
                                                                            </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span itemprop="price" class="preco" id="preco" data-preco-inicial="@SKUPadrao.Price">@SKUPadrao.Price.ToString("C")</span>
                                                                            <span class="infoPreco">
                                                                                <span>Em</span>
                                                                                <span id="max-p">@SKUPadrao.InstallmentMax.MaxNumber<span>x de</span></span>
                                                                                <span id="max-value">@SKUPadrao.InstallmentMax.Value.ToString("C")</span>
                                                                                <span id="description">@string.Format("({0})", @SKUPadrao.InstallmentMax.Description)</span>
                                                                                @if (ViewBag.DescontoBoleto > 0)
                                                                                {
                                                                                    var valor_final = (SKUPadrao.Price - ((SKUPadrao.Price / 100) * ViewBag.DescontoBoleto));
                                                                                    <br />
                                                                                    <span>ou</span>
                                                                                    <span><span id="preco_boleto">@string.Format("R${0:0.00}", valor_final)</span>@string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span>
                                                                                }
                                                                            </span>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        if (Model.PricePromotion != null && Model.PricePromotion > 0)
                                                                        {
                                                                            decimal dec = (decimal)@Model.PricePromotion;
                                                                            <span class="precoAntigo"><span>de: </span><span id="preco-antigo">@Model.Price.ToString("C")</span><span> por</span></span>
                                                                            <span itemprop="price" class="preco" id="preco" data-preco-inicial="@dec">@dec.ToString("C")</span>
                                                                            if (Model.InstallmentMax != null)
                                                                            {
                                                                                <span class="infoPreco">
                                                                                    <span>em</span>
                                                                                    <span id="max-p">@Model.InstallmentMax.MaxNumber<span>X de</span></span>
                                                                                    <span id="max-value">@Model.InstallmentMax.Value.ToString("C")</span>
                                                                                    <span id="description">(@Model.InstallmentMax.Description)</span>
                                                                                    @if (ViewBag.DescontoBoleto > 0)
                                                                                    {
                                                                                        var valor_final = (dec - ((dec / 100) * ViewBag.DescontoBoleto));
                                                                                        <br />
                                                                                        <span>ou</span>
                                                                                        <span><span id="preco_boleto">@string.Format("R${0:0.00}", valor_final)</span>@string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span>
                                                                                    }
                                                                                </span>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <span itemprop="price" class="preco" id="preco" data-preco-inicial="@Model.Price">@Model.Price.ToString("C")</span>
                                                                            if (Model.InstallmentMax != null)
                                                                            {
                                                                                <span class="infoPreco">
                                                                                    <span>em</span>
                                                                                    <span id="max-p">@Model.InstallmentMax.MaxNumber<span>X de</span></span>
                                                                                    <span id="max-value">@Model.InstallmentMax.Value.ToString("C")</span>
                                                                                    <span id="description">(@Model.InstallmentMax.Description)</span>
                                                                                    @if (ViewBag.DescontoBoleto > 0)
                                                                                    {
                                                                                        var valor_final = (Model.Price - ((Model.Price / 100) * ViewBag.DescontoBoleto));
                                                                                        <br />
                                                                                        <span>ou</span>
                                                                                        <span><span id="preco_boleto">@string.Format("R${0:0.00}", valor_final)</span>@string.Format(" no boleto bancário ({0}% de desconto)", ViewBag.DescontoBoleto)</span>
                                                                                    }
                                                                                </span>
                                                                            }
                                                                        }
                                                                    }
                                                                </div>

                                                                @if (!string.IsNullOrEmpty(@Model.DescriptionAvailabilityStatus))
                                                                {
                                                                    <p class="text color grey regular parcelamento small">@Model.DescriptionAvailabilityStatus</p>
                                                                }
                                                            </div>
                                                            <!--FIM GRADE-->

                                                            <div class="column middle aligned padding right no padding-top no blocoQtd">
                                                                <div class="box">
                                                                    <p class="title">Quantidade:</p>
                                                                    <div class="qtd">
                                                                        <button class="qtdminus" id="qtdminus-detalhes">
                                                                            <i class="minus icon"></i>
                                                                        </button>
                                                                        <input type="number" min="1" step="1" size="3" value="1"
                                                                            name="quantidade" id="quantidade" class="text center" />
                                                                        <button class="qtdplus" id="qtdplus-detalhes">
                                                                            <i class="add icon"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="column btnComprar">
                                                    <a class="@(Model.Stock == 0 || Model.FlagExhausted ? " disabled " : " ") ui animated button detalhes @(Session["EventList"] != null ? "btn-add-event-list" : "btn-comprar") @(Model.FlagExhausted || (Model.HaveSku && SKUPadrao.Stock == 0) || (Model.Stock == 0) ? "disabled action" : "action" )">

                                                        @if (Model.FlagExhausted || (Model.HaveSku && SKUPadrao.Stock == 0) || (Model.Stock == 0))
                                                        {
                                                            <div class="visible content">
                                                                PRODUTO ESGOTADO
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="visible content">
                                                                @(Session["EventList"] != null ? "COMPRAR" : "COMPRAR")
                                                            </div>
                                                        }


                                                        <div class="hidden content">
                                                            <i class="add to cart icon"></i>
                                                        </div>
                                                    </a>
                                                    <br />
                                                    @if (useOneClickMaxiPago)
                                                    {
                                                        <a class="@(Model.Stock == 0 || Model.FlagExhausted ? " disabled " : " ") ui button small animated basic detalhes btn-comprar-oneclick  @(Model.FlagExhausted || (Model.HaveSku && SKUPadrao.Stock == 0) || (Model.Stock == 0) ? " disabled" : "" )">
                                                            <div class="visible content">Comprar com 1-Click</div>
                                                            <div class="hidden content">
                                                                <i class="add to cart icon"></i>
                                                            </div>
                                                        </a>
                                                    }

                                                    @{bool inlist = false;
                                                        string color = "grey";

                                                        if (ViewBag.InWishList)
                                                        {
                                                            inlist = true;
                                                            color = "red";
                                                        }
                                                    }
                                                    @{bool isb2b = Session["segment"] != null && Session["segment"].ToString() == "b2b" ? true : false;
                                                        if (!isb2b)
                                                        {
                                                            <div class="one column wishlistDetails hideme">
                                                                <div class="column">
                                                                    <a href="#" class="wishlist-btn" data-wishlist-local="detail">
                                                                        <i class="icon heart @color wishlist-item" data-in-list="@inlist" data-have-sku="@(Model.AvailableReferences != null && Model.AvailableReferences.Count() > 0 ? "true" : "false")" data-product-id="@Model.IdProduct"></i>
                                                                        <span>Adicionar a Lista de Desejo</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            @if (!Model.FlagExhausted)
                            {
                                <div id="pagamento-calculado" class="hideme">
                                    @if (@Model.PricePromotion != null && @Model.PricePromotion > 0)
                                    {
                                        @Html.Action("Payment", "Product", new { valor = @Model.PricePromotion, flagExibir = Model.FlagExhausted == true || Model.Stock <= 0 ? false : true })
                                    }
                                    else
                                    {
                                        @Html.Action("Payment", "Product", new { valor = @Model.Price, flagExibir = Model.FlagExhausted == true || Model.Stock <= 0 ? false : true })
                                    }
                                </div>
                            }

                            @if (Model.HaveSku)
                            {
                                if (!hasOpenSku)
                                {
                                    if (Model.FlagExhausted || SKUPadrao.Stock == 0)
                                    {
                                        @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", true)
                                    }
                                    else
                                    {
                                        @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", false)
                                    }
                                }
                            }
                            else
                            {
                                if (Model.FlagExhausted || Model.Stock == 0)
                                {
                                    @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", true)
                                }
                                else
                                {
                                    @Html.Partial("~/Views/Product/Details/_AlertMe.cshtml", false)
                                }
                            }

                            <!-- COMEÇO SIMULADOR FRETE-->
                            <div class="column simulador-frete">
                                <div class="ui grid">
                                    <div class="row stackable one column">
                                        <div class="box">
                                            <p class="title">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
                                                    <path d="M31.067 24.989C30.1385 24.989 29.2564 25.3527 28.5909 26.0104C27.9255 26.6759 27.5541 27.5425 27.5541 28.471C27.5541 29.3995 27.9177 30.2662 28.5909 30.9316C29.2641 31.5893 30.1385 31.953 31.067 31.953C32.9705 31.953 34.518 30.39 34.518 28.471C34.518 26.552 32.9705 24.989 31.067 24.989ZM31.067 30.4054C29.9992 30.4054 29.1016 29.5233 29.1016 28.471C29.1016 27.4187 29.9992 26.5366 31.067 26.5366C32.1193 26.5366 32.9705 27.4032 32.9705 28.471C32.9705 29.5388 32.1193 30.4054 31.067 30.4054ZM31.9646 13.3902C31.8253 13.2586 31.6396 13.189 31.4461 13.189H27.4767C27.0511 13.189 26.7029 13.5372 26.7029 13.9628V20.3077C26.7029 20.7333 27.0511 21.0815 27.4767 21.0815H33.7752C34.2008 21.0815 34.549 20.7333 34.549 20.3077V16.0597C34.549 15.843 34.4561 15.6341 34.2936 15.4871L31.9646 13.3902ZM33.0014 19.5339H28.2505V14.7288H31.1444L33.0014 16.4001V19.5339ZM12.1715 24.989C11.2429 24.989 10.3608 25.3527 9.69538 26.0104C9.02993 26.6759 8.65852 27.5425 8.65852 28.471C8.65852 29.3995 9.02219 30.2662 9.69538 30.9316C10.3686 31.5893 11.2429 31.953 12.1715 31.953C14.0749 31.953 15.6225 30.39 15.6225 28.471C15.6225 26.552 14.0749 24.989 12.1715 24.989ZM12.1715 30.4054C11.1036 30.4054 10.2061 29.5233 10.2061 28.471C10.2061 27.4187 11.1036 26.5366 12.1715 26.5366C13.2238 26.5366 14.0749 27.4032 14.0749 28.471C14.0749 29.5388 13.2238 30.4054 12.1715 30.4054ZM7.01038 25.9408H5.4551V23.8825C5.4551 23.457 5.1069 23.1088 4.68133 23.1088C4.25575 23.1088 3.90755 23.457 3.90755 23.8825V26.7145C3.90755 27.1401 4.25575 27.4883 4.68133 27.4883H7.01038C7.43596 27.4883 7.78416 27.1401 7.78416 26.7145C7.78416 26.289 7.43596 25.9408 7.01038 25.9408ZM10.9334 21.7237C10.9334 21.2981 10.5852 20.9499 10.1596 20.9499H0.773773C0.348198 20.9499 0 21.2981 0 21.7237C0 22.1493 0.348198 22.4975 0.773773 22.4975H10.1596C10.5852 22.4975 10.9334 22.157 10.9334 21.7237ZM2.34453 18.9304L11.7304 18.9845C12.156 18.9845 12.5042 18.6441 12.5119 18.2185C12.5196 17.7852 12.1715 17.437 11.7459 17.437L2.36001 17.3828C2.35227 17.3828 2.35227 17.3828 2.35227 17.3828C1.92669 17.3828 1.5785 17.7233 1.5785 18.1489C1.57076 18.5822 1.91896 18.9304 2.34453 18.9304ZM3.92303 15.4174H13.3089C13.7345 15.4174 14.0827 15.0693 14.0827 14.6437C14.0827 14.2181 13.7345 13.8699 13.3089 13.8699H3.92303C3.49745 13.8699 3.14926 14.2181 3.14926 14.6437C3.14926 15.0693 3.49745 15.4174 3.92303 15.4174ZM37.7137 14.3729L32.1735 9.78438C32.0342 9.66832 31.864 9.60641 31.6783 9.60641H25.1631V6.82083C25.1631 6.39526 24.8149 6.04706 24.3893 6.04706H4.68133C4.25575 6.04706 3.90755 6.39526 3.90755 6.82083V12.4849C3.90755 12.9104 4.25575 13.2586 4.68133 13.2586C5.1069 13.2586 5.4551 12.9104 5.4551 12.4849V7.5946H23.6233V25.9408H17.2784C16.8528 25.9408 16.5046 26.289 16.5046 26.7145C16.5046 27.1401 16.8528 27.4883 17.2784 27.4883H26.7261C27.1517 27.4883 27.4999 27.1401 27.4999 26.7145C27.4999 26.289 27.1517 25.9408 26.7261 25.9408H25.1708V11.154H31.4074L36.4525 15.3323L36.3983 25.9253H35.5936C35.168 25.9253 34.8198 26.2735 34.8198 26.6991C34.8198 27.1246 35.168 27.4728 35.5936 27.4728H37.1643C37.5899 27.4728 37.9381 27.1324 37.9381 26.7068L38 14.9764C37.9923 14.7443 37.8917 14.5199 37.7137 14.3729Z" fill="black"/>
                                                </svg>

                                                <span>Calcular frete e prazo</span>
                                            </p>
                                            <input type="text" name="simular-frete-cep" id="simular-frete-cep" placeholder="00000-000">
                                            <button name="simular-frete-submit" id="simular-frete-submit">Enviar</button>
                                            <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/default.cfm" target="_blank" class="n-sei-cep">Não sei meu CEP</a>
                                        </div>
                                    </div>
                                </div>
                                <table class="ui very basic table">
                                    <thead>
                                        <tr>
                                            <th>Entrega</th>
                                            <th>Frete</th>
                                            <th>Prazo</th>
                                        </tr>
                                    </thead>
                                    <tbody id="listSimulateFreight">
                                        <tr><td colspan="3" class="center aligned">Digite um CEP e clique no botão OK.</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- FIM SIMULADOR FRETE-->
                            <!-- COMEÇO REDES SOCIAIS-->
                            <div class="one column row hideme">
                                <div class="column">
                                    @*<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5915ec2f00f07226"></script>
                                            <div class="addthis_inline_share_toolbox"></div>
                                        <div class="fb-share-button" data-href="@Request.Url.AbsoluteUri.ToString()" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A52868%2FProduct%2FDetails%2F20081&amp;src=sdkpreparse">Compartilhar</a></div>
                                        <div class="g-plus" data-action="share"></div>
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="testes" data-show-count="false">Tweet</a>
                                        <a href="whatsapp://send?text=http://google.com.br">Compartilhar</a>
                                        <a href="https://api.whatsapp.com/send?text=@Request.Url.AbsoluteUri"><img style="max-width: 80px;" src="~/assets/image/whats.jpg" /></a>*@
                                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59dc437c87fdb766"></script>
                                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                    <div class="addthis_inline_share_toolbox"></div>
                                </div>
                            </div>
                            <!-- FIM REDES SOCIAIS-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIM INFORMAÇÕES DO PRODUTO-->
        </div>

        <div class="ui divider hidden"></div>
        <!--COMEÇO DESCRIÇÃO-->
        <div class="row" style="border-top: 1.3px solid #dcdcdc;">
            <div id="scroll" class="ui top attached secondary pointing stackable menu tabular">
                <a class="item active" data-tab="informacoes">Informação do produto <i  class="icon angle down ui mobile only"></i></a>
                <a class="item" data-tab="detalhes">Características do Produto  <i  class="icon angle down ui mobile only"></i></a>
                <!-- <a class="item" data-tab="avaliacoes">Avaliações</a> -->
            </div>
            <div class="ui bottom attached tab segment basic active " data-tab="informacoes">
                @Html.Raw(Model.DescriptionDetailSummary)
            </div>

            <!--COMEÇO DETALHES PRODUTO-->
            <div class="ui bottom attached tab segment basic" data-tab="detalhes" id="detalhes">
                <div class="ui grid one column">
                    <div class="column">
                        @Html.Raw(@Model.DescriptionDetail)
                    </div>
                    @if (Model.Attributes != null && Model.Attributes.Count() > 0)
                    {
                        var useFilter = Model.Attributes.Where(attr => attr.useFilter).ToList();
                        if (useFilter.Count > 0)
                        {
                            <div class="column">
                                <h4>Informações Adicionais do Produto</h4>
                                @foreach (var atribute in Model.Attributes)
                                {
                                    if (atribute.useFilter)
                                    {
                                        var attrValues = "";
                                        <p>
                                            <strong>@atribute.name: </strong>
                                            @foreach (var valor in atribute.attributeValues)
                                            {
                                                if (valor.active)
                                                {
                                                    attrValues = attrValues != "" ? attrValues + "," + @valor.Value : @valor.Value;
                                                }
                                            }
                                            @attrValues
                                        </p>
                                    }
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <!--FIM DETALHES PRODUTO-->
        
        <div class="ui bottom attached segment basic" data-tab="avaliacoes" id="avaliacoes">
            <div class="ui grid">
                <h2>Avaliar Produto</h2>
                <div class="row two column horizontal divided stackable">
                    <!-- COMEÇO FOMULÁRIO DE AVALIAÇÂO-->
                    <div class="column">
                        <form class="ui form" id="avaliar">
                            <div class="field required">
                                <label>Nome</label>
                                <input type="text" name="Name" maxlength="100" placeholder="Nome" id="Name" required>
                            </div>
                            <div class="field required">
                                <label>E-mail</label>
                                <input type="text" name="email" maxlength="100" placeholder="Email" id="Email" required>
                            </div>
                            <div class="two fields">
                                <div class="field required" data-jet-revel="true">
                                    <label>Cidade</label>
                                    <div class="ui input">
                                        <input type="text" maxlength="100" name="AddressCity" placeholder="Cidade" id="cidade" required>
                                    </div>
                                </div>
                                <div class="field required">
                                    <label>Estado</label>
                                    <select class="ui dropdown search" id="estado_0" name="AddressState">
                                        <option value="">Selecione</option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espírito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field required" id="rating_st">
                                <label>Nota</label>
                                <div class="ui huge star rating"></div>
                            </div>
                            <div class="field required">
                                <label>Título</label>
                                <input type="text" name="Title" maxlength="200" placeholder="Titulo" id="Title">
                            </div>
                            <div class="field required">
                                <label>Descrição</label>
                                <textarea id="Comment" maxlength="1000" name="Comment"></textarea>
                            </div>
                            <div class="field">
                                <div class="ui checkbox" id="ViewEmailCheck">
                                    <input type="checkbox" tabindex="0" class="hidden" name="ViewEmail" id="ViewEmail">
                                    <label>Mostrar Email?</label>
                                </div>
                            </div>
                            <input type="hidden" name="Rate" id="Rate" value="1" />
                            <br />
                            <button class="ui button btn-avaliar" type="button" id="submitAval">Cadastre-se</button>
                        </form>
                    </div>
                    <!-- FIM FOMULÁRIO DE AVALIAÇÂO-->
                    <!-- COMEÇO AVALIAÇÂO-->
                    <div class="column">
                        <div class="ui comments fluid" id="lista_avaliacoes">
                            @{ int total = Model.ProductRatings.Count > 5 ? 5 : Model.ProductRatings.Count; }
                            @if (Model.ProductRatings != null && total > 0)
                            {
                                for (int i = 0; i < total; i++)
                                {
                                    <div class="comment">
                                        <div class="content">
                                            <a class="author">@Model.ProductRatings[i].Name</a>
                                            <div class="metadata">
                                                <div class="rating">
                                                    <div class="ui mini star rating" data-rating="@Model.ProductRatings[i].Rate"></div>
                                                </div>
                                                <div class="date"></div>
                                                @if (Model.ProductRatings[i].LeavePublicEmail == true)
                                                {
                                                    <div class="email">@Model.ProductRatings[i].Email</div>
                                                }
                                                else
                                                {
                                                    <div class="email"></div>
                                                }
                                                <div class="date">@Model.ProductRatings[i].DateRegister</div>
                                                <div class="address">@Model.ProductRatings[i].AddressCity</div>
                                            </div>
                                            <div class="text">
                                                <h5>@Model.ProductRatings[i].Title</h5>
                                                <p>@Model.ProductRatings[i].Comment</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui divider"></div>
                                }
                            }
                            else
                            {
                                <div class="no-results">Até o momento não há avaliações para esse produto.</div>
                            }
                        </div>
                        @if (Model.ProductRatings != null && Model.ProductRatings.Count > 5)
                        {
                            <div class="ui button teal tiny right icon" id="btn_carregar_avaliacoes">
                                <i class="icon refresh"></i>
                                Carregar mais avaliações
                            </div>
                        }
                    </div>
                    <!-- FIM AVALIAÇÂO-->
                </div>
            </div>
        </div>

        <!--FIM DESCRIÇÃO-->
        @if (!Model.FlagExhausted && !hasOpenSku)
        {
            <div class="row" id="buy-together">
                @if (Model.BuyTogether != null && Model.BuyTogether.Count > 0 && Session["EventList"] == null)
                {
                    @Html.Partial("~/Views/Product/Details/_BuyTogether.cshtml", Model)
                }
            </div>
        }
        <div class="row" id="AlsoProducts">
            @if (Model.AlsoProductsPurchased != null && Model.AlsoProductsPurchased.Count > 0)
            {
                @Html.Partial("~/Views/Product/Details/_AlsoPurchased.cshtml", Model.AlsoProductsPurchased)
            }
        </div>
        <div class="row" id="RelatedProducts">
            @if (Model.RelatedProducts != null && Model.RelatedProducts.Count > 0)
            {
                @Html.Partial("~/Views/Product/Details/_RelatedProducts.cshtml", Model.RelatedProducts)
            }
        </div>


        @if (!Model.FlagExhausted || Session["EventList"] != null)
        {
            @Html.Partial("~/Views/Product/Details/_FloatingBar.cshtml", Model)
        }
    </div>
</div>


<div class="ui modal login">
    <i class="close icon"></i>
    <div class="header ui center aligned segment">Faça login ou cadastre-se para continuar</div>
    <div class="description">
        @Html.Action("LoginPartial", "Customer", new { _class = "modal-login", returnURL = Model.UrlFriendlyCustom != null ? $"/Customer/AutoAddProductInWishListBeforeLogin?redirectToPage={Model.UrlFriendlyCustom}" : $"/Customer/AutoAddProductInWishListBeforeLogin?redirectToPage={Model.UrlFriendly}" })
    </div>
</div>