﻿<!-- Start -->
<script src="~/assets/js/manifest.js"></script>
<script src="~/assets/js/vendor.js"></script>
<script src="~/assets/js/app.js"></script>

<!--GLOBAL-->
<script type="text/javascript">
    $(document).ready(function () {
        updateQuantidadeTopoCarrinho();

        //MOBILE
        if ($('body').width() < 940) {
            console.log('mobile');

            //OPEN BUSCA
            $('#open_busca').on('click',  function(){
                $('#busca').toggleClass('active');
            });

            $('.menuheader .ui.menu li > .item').on('click',  function(e){
                if ($(this).next('.megamenu').length) {
                    e.preventDefault();
                    $(this).next('.megamenu').addClass('active');
                }
            });

            $('.megamenu .go_back').on('click', function (){
                $(this).parents('.megamenu').removeClass('active');
            });
            
            $('header .btn_busca').on('click', function (e){
                e.preventDefault();
                $('#busca, #overlay').toggleClass('active');
            });

            $('#busca .searchcolumn input[type="text"] + span').on('click', function (e){
                e.preventDefault();
                $('header .btn_busca').trigger('click');
            });
        }
    });

    function updateQuantidadeTopoCarrinho() {
        $.ajax({
            method: "GET",
            url: "@(Session["EventList"] != null ? "/EventList/TotalItensList" : "/Checkout/TotalItensCart")",
            data: {},
            cache: false,
            success: function (data) {
                $("#total_itens_card").text(data);
                if (data != "")
                    $("#MiniCartTitle").text("@(Session["idEventList"] == null && Session["EventList"] == null ? "Meu Carrinho" : "Minha Lista") (" + data + ")")
            },
            onFailure: function (data) {
                    if (action == "plus") {
                        valorInput -= 1;
                    } else {
                        valorInput += 1;
                    }
                }
             });
    }
</script>