﻿@{
	string _classSearch = Session["idEventList"] == null ? "search" : "filterListEventsProducts";
	string _classMiniCart = Session["idEventList"] == null && Session["EventList"] == null ? "mini-cart" : "mini-cart-list-event";
}
<div class="ui container fluid _header">
	<div class="ui container">
		<div class="ui middle aligned three column centered grid">
			<div class="row_1">
				<div class="column_1">
					<a href="/Home" title="Página Inicial">
						<img class="ui middle aligned image logo" src="/assets/image/logo/logo.png" alt="@LojaCorp.Control.Company._Company.FantasyName" title="@LojaCorp.Control.Company._Company.FantasyName">
					</a>
				</div>

				<div class="column_2">
					<!-- ~/Views/Shared/Common/_Menu.cshtml -->
                    @Html.Action("Menu", "Home")
				</div>

				<div class="column_3 searchcolumn">
					<div class="ui category @_classSearch">
						<div class="ui icon input fluid">
							<a href="" class="btn_busca ui mobile only"><img src="/assets/image/ico-lupa.png" width="30px" height="30px" alt="Busca" /></a>
							<input class="prompt" type="text" placeholder="O que você precisa hoje?">
							<i class="search icon"></i>
						</div>
						<div class="results"></div>
					</div>

					<span id="open_busca" class="ui mobile only">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
							<path d="M17.4023 16.3898L13.2609 12.2484C14.2875 10.9969 14.9062 9.39375 14.9062 7.64648C14.9062 3.63867 11.6543 0.386719 7.64648 0.386719C3.63516 0.386719 0.386719 3.63867 0.386719 7.64648C0.386719 11.6543 3.63516 14.9062 7.64648 14.9062C9.39375 14.9062 10.9934 14.291 12.2449 13.2645L16.3863 17.4023C16.6676 17.6836 17.1211 17.6836 17.4023 17.4023C17.6836 17.1246 17.6836 16.6676 17.4023 16.3898ZM7.64648 13.4613C4.43672 13.4613 1.82812 10.8527 1.82812 7.64648C1.82812 4.44023 4.43672 1.82812 7.64648 1.82812C10.8527 1.82812 13.4648 4.44023 13.4648 7.64648C13.4648 10.8527 10.8527 13.4613 7.64648 13.4613Z" fill="black"/>
						</svg>
					</span>

					<div id="cartButton" class="cartbutton mini-cart" tabindex="0" data-segment="@(Session["segment"] != null ? Session["segment"] : "b2c")">
							<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
								<path d="M27.8834 4.90001C27.7667 4.78337 27.65 4.66666 27.4167 4.66666H5.25L4.66665 1.63337C4.66665 1.40001 4.31665 1.16672 4.0833 1.16672H0.583297C0.233352 1.16666 0 1.40001 0 1.75001C0 2.10001 0.233352 2.33337 0.583352 2.33337H3.6167L6.4167 16.5667C6.7667 18.4334 8.5167 19.8334 10.3834 19.8334H23.8C24.15 19.8334 24.3834 19.6 24.3834 19.25C24.3834 18.9 24.15 18.6667 23.8 18.6667H10.5C9.56665 18.6667 8.63335 18.2 8.16665 17.3833L25.2 15.05C25.4334 15.05 25.6666 14.8167 25.6666 14.5834L28 5.25001C28 5.25001 28 5.01666 27.8834 4.90001ZM24.6166 14L7.5833 16.2167L5.4833 5.71666H26.6L24.6166 14Z" fill="black"/>
								<path d="M9.91665 21C8.28335 21 7 22.2834 7 23.9166C7 25.55 8.28335 26.8333 9.91665 26.8333C11.55 26.8333 12.8333 25.5499 12.8333 23.9166C12.8334 22.2834 11.55 21 9.91665 21ZM9.91665 25.6666C8.9833 25.6666 8.16665 24.8499 8.16665 23.9166C8.16665 22.9834 8.9833 22.1666 9.91665 22.1666C10.85 22.1666 11.6666 22.9834 11.6666 23.9166C11.6666 24.8499 10.85 25.6666 9.91665 25.6666Z" fill="black"/>
								<path d="M21.5834 21C19.95 21 18.6667 22.2834 18.6667 23.9166C18.6667 25.55 19.9501 26.8333 21.5834 26.8333C23.2167 26.8333 24.5 25.5499 24.5 23.9166C24.5 22.2834 23.2167 21 21.5834 21ZM21.5834 25.6666C20.65 25.6666 19.8334 24.8499 19.8334 23.9166C19.8334 22.9834 20.65 22.1666 21.5834 22.1666C22.5167 22.1666 23.3334 22.9834 23.3334 23.9166C23.3334 24.8499 22.5167 25.6666 21.5834 25.6666Z" fill="black"/>
							</svg>

							<a class="" id="total_itens_card">
								@{
									if (Session["EventList"] == null)
									{
										@Html.Action("TotalItensCart", "Checkout")
									}else
									{
										@Html.Action("TotalItensList", "EventList")
									}
								}
							</a>
					</div> 
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui container fluid mobile only" id="busca">
    <div class="ui container">
        <div class="searchcolumn">
            <div class="ui category @_classSearch">
                <div class="ui input fluid">
                    <input class="prompt" type="text" placeholder="O que você precisa hoje?">
					<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
						<path d="M17.4023 16.3898L13.2609 12.2484C14.2875 10.9969 14.9062 9.39375 14.9062 7.64648C14.9062 3.63867 11.6543 0.386719 7.64648 0.386719C3.63516 0.386719 0.386719 3.63867 0.386719 7.64648C0.386719 11.6543 3.63516 14.9062 7.64648 14.9062C9.39375 14.9062 10.9934 14.291 12.2449 13.2645L16.3863 17.4023C16.6676 17.6836 17.1211 17.6836 17.4023 17.4023C17.6836 17.1246 17.6836 16.6676 17.4023 16.3898ZM7.64648 13.4613C4.43672 13.4613 1.82812 10.8527 1.82812 7.64648C1.82812 4.44023 4.43672 1.82812 7.64648 1.82812C10.8527 1.82812 13.4648 4.44023 13.4648 7.64648C13.4648 10.8527 10.8527 13.4613 7.64648 13.4613Z" fill="black"/>
					</svg>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </div>
</div>
