<div class="ui container fluid mobile-hide topbar" id="top_bar">
    <div class="ui container">
        <div class="ui grid">
            @Html.Action("SocialBar", "SocialNetwork")
            
            <div class="sixteen wide tablet eight wide computer column">                    
                <div class="ui horizontal list relaxed divided">
                    <div class="item">
                        <a href="~/fale-conosco" title="Fale Conosco">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M8.002 0H7.998C3.587 0 0 3.588 0 8C0 9.75 0.564 11.372 1.523 12.689L0.526 15.661L3.601 14.678C4.866 15.516 6.375 16 8.002 16C12.413 16 16 12.411 16 8C16 3.589 12.413 0 8.002 0ZM12.657 11.297C12.464 11.842 11.698 12.294 11.087 12.426C10.669 12.515 10.123 12.586 8.285 11.824C5.934 10.85 4.42 8.461 4.302 8.306C4.189 8.151 3.352 7.041 3.352 5.893C3.352 4.745 3.935 4.186 4.17 3.946C4.363 3.749 4.682 3.659 4.988 3.659C5.087 3.659 5.176 3.664 5.256 3.668C5.491 3.678 5.609 3.692 5.764 4.063C5.957 4.528 6.427 5.676 6.483 5.794C6.54 5.912 6.597 6.072 6.517 6.227C6.442 6.387 6.376 6.458 6.258 6.594C6.14 6.73 6.028 6.834 5.91 6.98C5.802 7.107 5.68 7.243 5.816 7.478C5.952 7.708 6.422 8.475 7.114 9.091C8.007 9.886 8.731 10.14 8.99 10.248C9.183 10.328 9.413 10.309 9.554 10.159C9.733 9.966 9.954 9.646 10.179 9.331C10.339 9.105 10.541 9.077 10.753 9.157C10.969 9.232 12.112 9.797 12.347 9.914C12.582 10.032 12.737 10.088 12.794 10.187C12.85 10.286 12.85 10.751 12.657 11.297Z" fill="#7D7D7D"/>
                            </svg>
                            <span class="text">Fale com a gente: (11) 2614-3100</span>
                        </a>
                    </div>
                    @if ((Session["UserAuthenticated"] == null || (Convert.ToBoolean(Session["Guest"]) == true)) && Session["Seller"] == null)
                    {
                        <div class="item">
                            <a href="/customer" title="Minha Conta">
                                <i class="user icon regular"></i>
                                <span class="text">Minha Conta</span>
                            </a>
                        </div>
                    }
                    @if ((Session["UserAuthenticated"] != null) && (Convert.ToBoolean(Session["Guest"]) == false))
                    {
                        var userAuthenticated = (DomainCustomer.Entities.Customer)Session["UserAuthenticated"];
                        
                        Char delimiter = ' ';
                        String[] nickName = userAuthenticated.Name.Split(delimiter);
                        
                        <div class="ui inline item dropdown pointing top right">
                            <div class="text regular black">
                                <i class="user icon regular"></i>
                                <span class="text">Olá <span id="userNameCommon">@nickName[0]</span></span>
                            </div>
                            <div class="menu">
                                <a href="/customer" class="item" title="Minha Conta"><i class="options icon"></i>Minha Conta</a>
                                <a href="/order" class="item" title="Meus Pedidos"><i class="shopping bag icon"></i>Meus Pedidos</a>
                                <a href="/customer/logout" class="item" title="Sair"><i class="sign out icon"></i>Sair</a>
                            </div>
                        </div>
                    }
                    else if ((Session["Seller"] != null))
                    {
                        var userAuthenticated = (DomainAssistedSale.Entities.Seller)Session["Seller"];
                        
                        Char delimiter = ' ';
                        String[] nickName = userAuthenticated.Name.Split(delimiter);
                        
                        <div class="ui inline item dropdown pointing top right">
                            <div class="text regular black">
                                <i class="rocket icon regular"></i>
                                <span class="text">Olá <span title="@userAuthenticated.Name.ToString()" id="userNameCommon">@nickName[0]</span></span>
                            </div>
                            <div class="menu">
                                <a href="/assistedsale" class="item" title="Minha Conta"><i class="options icon"></i>Meus Clientes</a>
                                <a href="/assistedsale/logout" class="item" title="Sair"><i class="sign out icon"></i>Sair</a>
                            </div>
                        </div>
                    }
                    else if ((Session["Seller"] == null))
                    {
                        <div class="item">
                            <a href="/assistedsale" title="Venda Assistida">
                                <i class="rocket icon regular"></i>
                                <span class="text">Venda Assistida</span>
                            </a>
                        </div>
                    }
                    @if((Session["Seller"] == null)) {
                        @Html.Action("B2BIsActived", "Company", null)
                    }
                </div>
            </div>
        </div>
    </div>
</div>